{%extends "base.html"%}


{%block content%}

{% include "nav-logged.html" %}
<h2>Чат</h2>

<div class="chat">
    <div id="chat-messages">
        <div class="chat-message">
            <span class="server_info">Вы присоединились к чату</span>
        </div>
    </div>

    <form action="" class="chat-form form-group" id="chat-form">
        <input type="text" id="chat-input">
        <button type="submit">Отправить</button>
    </form>
</div>

<link rel="stylesheet" href="/static/css/chat.css">
<script src="/static/js/chat.js"></script>
{%endblock%}